:root {
  --accent-blue: #2196f3;
  --black: #000;
  --white: #fff;
  --white-transparent: rgba(255, 255, 255, 0.6);
  --color-footer: #2f303a;
  --color-title: #212121;
  --color-desc: #757575;
  --bg-color-main: #2f303a;
  --bg-color-secondary: #f5f4fa;
}

/* Body */

body {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* Header */

.list {
  list-style: none;
}

.navigation {
  letter-spacing: 0.02em;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-blue);
}

.logo > span {
  color: var(--black);
}

.navigation-link {
  color: var(--color-title);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-blue);
}

.current-page {
  color: var(--accent-blue);
}

/* Main */

.hero-section {
  background-color: var(--bg-color-main);
  color: var(--white);
}

.hero-section > h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-button {
  background-color: var(--accent-blue);
  color: var(--white);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

.title {
  color: var(--color-title);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.subtitle {
  color: var(--color-title);
}

.desc {
  color: var(--color-desc);
  font-size: 14px;
  line-height: 1.7;
}

.talant-section .subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;

  text-transform: uppercase;
}

.team-section {
  background-color: var(--bg-color-secondary);
}

.team-section .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.team-section .desc {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Footer */

.footer {
  background-color: var(--bg-color-main);
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-blue);
}

.footer-logo > span {
  color: var(--white);
}

.footer-link {
  color: var(--white);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-blue);
}

.footer-link-address {
  color: var(--white-transparent);
}

.footer-link-address:hover,
.footer-link-address:focus {
  color: var(--accent-blue);
}

/* Portfolio Main */

.portfolio-section {
}

.portfolio-button {
  background-color: var(--bg-color-secondary);
  color: var(--color-title);
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-blue);
  color: var(--white);
}

.portfolio-section .subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-section .desc {
  line-height: 1.87;
  letter-spacing: 0.03em;
}
